@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    font-family: 'Open Sans', !important;
  }

h1 {
  font-family: 'Open Sans' !important;
}

body {
    color: rgb(0, 0, 0);
}

#navbar {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

#imageCarousel {
    width: 70%;
    margin: auto;
}

.carousel-caption {
    background-color: #eeeeeede;
    padding-top: 0.5rem !important;
    padding-bottom: 0.2rem !important;
}

.caro-label {
  color:#503d61;
}

.card-header {
    background-color: #503d61 !important;
    color: white !important;
}

.card-header a {
    color: white !important;
}

.btn-link {
    color: white !important;
}

.card {
    background-color: #eee !important;
}
